.cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: var(--bege);
    padding: 1em 0;
}

.cabecalho__titulo {
    color: var(--preto);
}

.cabecalho__navegacao {
    display: flex;
    gap: 3em;
    margin-top: 3px;
    position: relative;
}

.cabecalho__navegacao__item:hover {
    color: var(--cor-hover);
    background-color: var(--bege-escuro);
}

.cabecalho__navegacao__item:active {
    color: var(--cor-active);
}

.cabecalho__navegacao__lista {
    display: none;
}

label {
    cursor: pointer;
}

.lista__menu {
    background-color: var(--bege-claro);
    display: none;
    position: absolute;
    top: 160%;
    width:178%;
    list-style: none;
}

.cabecalho__navegacao__lista:checked ~ .lista__menu {
    display: block;
}

label[for="lista"]:hover {
    color: var(--cor-hover);
    background-color: var(--bege-escuro);
}

label[for="lista"]:active {
    color: var(--cor-active);
}

.lista__link:hover {
    color: var(--cor-hover);
    background-color: var(--bege-escuro);
}

.lista__link:active {
    color: var(--cor-active);
}

